/** Import initial variable **/

@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

/** Set the initial variable **/

$flame: #CF5C36;
$platinum: #EBEBEB;
$indigo-dye: #083D77;
$gold-crayola: #EFC88B;
$black-bg: rgb(36, 42, 54);
$light-black-bg: rgb(46, 53, 67);

/** Set the derived variables **/

$primary: $black-bg;
$grey: $light-black-bg;

/** Import the rest of Bulma **/

@import "node_modules/bulma/bulma";